<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>常见问题</title>
		<link rel="stylesheet" type="text/css" href="css/common_problem.css"/>
	</head>
	<body>
		<div class="problem_list">
			<a href="problem_details.html">
				<div class="list_item">
					<span>如何修改我的账户基本信息？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>我怎么查看平台绑定的手机号？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>我的账户被盗了怎么办？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>可以解绑第三方授权登录账号吗？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>怎么切换或退出账号？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>平台会不会泄露我的隐私？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			<a href="problem_details.html">
				<div class="list_item">
					<span>我的账号怎么注销？</span>
					<img src="img/icon_enter_white.png" >
				</div>
			</a>
			
			<div class="zhanwei"></div>
		</div>
	</body>
</html>
