<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>常见问题详情</title>
		<link rel="stylesheet" type="text/css" href="css/problem_details.css"/>
	</head>
	<body>
		<div class="problem_answer">
			<p class="title">我的账户被盗了怎么办？</p>
			<div class="answer">
				亲爱的用户，您好！<br>
				（1）建议您立即修改登录密码，在密码修改成功后，其他登录设备会在24小时内自动退出；<br>
				（2）您也可以直接与我们的客服联系解决。<br>
			</div>
			<div class="zhanwei"></div>
		</div>
	</body>
</html>
