<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- facebook分享 -->
		<meta property="og:title" content="title" />
		<meta property="og:description" content="description" />
		<meta property="og:image" content="thumbnail_image" />
		<title>亚视剧集TV</title>
		<link rel="stylesheet" href="../player/css/tvplay_details.css">
		<!-- 阿里云播放器 -->
		<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.8/skins/default/aliplayer-min.css" />
		<script src="../player/js/flexible.js"></script>
	</head>
	<body id="body_diy" data-groupId = "4" data-dataId = "19" data-language = "zh_CN">
		<div id="app">
			
			<!-- 视频播放器 部分 -->
			<div class="video_container">
				<div class="prism-player" id="J_prismPlayer"></div>
			</div>
			
			<!-- 视频，评论tab 部分 -->
			<div class="video_comment_tab" v-if="((currentTab==0) || (currentTab==4)) && !net404">
				<div class="video_comment_tab_item" :class="{'video_comment_tab_item_active':currentTab==0}" @click="changeTab(0)"><span v-cloak id="language_video">{{language.comm.video}}</span></div>
				<div class="video_comment_tab_item" :class="{'video_comment_tab_item_active':currentTab==4}" @click="changeTab(4)"><span v-cloak id="language_comment">{{language.comm.comment}}</span><span v-cloak style="font-size: 12px;">({{commentTotalNum}})</span></div>
			</div>
			
			<!-- 视频选项卡 部分 -->
			<div class="video_tab_container" v-if="currentTab==0 && !net404">
				<!-- 1.视频简介 -->
				<div class="video_detail_des">
					<div class="des_title_guide">
						<p v-cloak class="des_title">{{currentTvTitle}}</p>
						<div class="des_guide">
							<a href="javascript:;" @click="changeTab(1)" v-cloak>{{language.comm.description}}</a> <img class="guide_icon" src="../player/img/icon_mine_set_enter_default.png" @click="changeTab(1)" >
						</div>
					</div>
					<p v-cloak class="other_details">热度{{hotNum}}·更新至{{currentTvUpdateNum}}集·全{{currentTvTotalNum}}集·{{currentTvType}}{{currentTvScore? '·' + currentTvScore + '分':''}}</p>
				</div>
				<!-- 2.选集部分 -->
				<div class="choose_video_play">
					<div class="choose_title_guide">
						<p class="choose_title" v-cloak>{{language.comm.ChooseSeries}}</p>
						<div class="choose_guide">
							<p v-cloak @click="changeTab(2)">{{updateExplain}}</p> <img class="guide_icon" src="../player/img/icon_mine_set_enter_default.png" @click="changeTab(2)" >
						</div>
					</div>
					<div class="choose_item_list">
						<div class="choose_item_container" v-for="(item,idx) in currentTvUpdateNumList" :key="idx">
							<div class="choose_item" :class="{'choose_item_active':currentVideoIdx==idx}" @click="chooseVideo(idx)">
								<span v-cloak>{{item}}</span>
								<div class="yugao_label" v-if="isTrailer">预告</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 3.猜你喜欢部分(待做...) -->
				<!-- <div class="guess_like_container">
					<div class="guess_like_title">
						<div class="under_line_guess"></div>
						<img src="../player/img/icon_home_chase.png" >
						<p>猜你喜欢</p>
					</div>
					<div class="guess_like_list">
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
					</div>
					<div class="watch_all_btn" @click="changeTab(3)">
						<img src="../player/img/icon_tabbar_video_selected@2x.png" >
						<span>查看全部</span>
					</div>
				</div> -->
				<!-- 4.用户评论展示部分(H5端只展示) -->
				<div class="user_comment">
					<div class="comment_title_type">
						<div class="comment_title">
							<div class="under_line_comment" :class="{'under_line_comment_en':languageType=='en_US'}"></div>
							<img class="comment_title_icon" src="../player/img/icon_home_detail_comment.png" >
							<p v-cloak>{{language.comm.comment}}</p>
						</div>
						<div class="comment_type">
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==0}" @click="changeCommentType(0)"><span v-cloak>{{language.comm.Hottest}}</span></div>
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==1}" @click="changeCommentType(1)"><span v-cloak>{{language.comm.Newest}}</span></div>
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==2}" @click="changeCommentType(2)"><span v-cloak>{{language.comm.Earliest}}</span></div>
						</div>
					</div>
					<div class="user_comment_list" v-if="commentListData">
						
						<div class="user_comment_item" v-for="(item,index) in commentListData" :key="index">
							<div class="user_head_img"><img class="user_img" :src="item.avatar? (imgBaseUrl + item.avatar) : '../player/img/default.png'" ></div>
							<div v-cloak class="user_comment_des">
								<div class="user_name_time">
									<div class="user_name">{{item.nickname}}</div>
									<div class="user_time">{{(item.addTime) | getCommentTime}}</div>
								</div>
								<div class="user_comment_container">
									<p class="user_comment_content">
										{{item.content}}
									</p>
									<a href="javascript:;" style="color: #FF6F00;" v-cloak>{{language.comm.more}}</a>
								</div>
								<div class="under_line"></div>
							</div>
						</div>
						
					</div>
					<div class="no_comment_data" v-else >
						<img src="../player/img/404.png" >
						<a href="javascript:;" v-cloak>{{language.comm.NoCommentYet}}</a>
					</div>
				</div>
			</div>
			
			<!-- 视频简介弹出框 部分 -->
			<div class="video_des_popup" v-else-if="currentTab==1" >
				<div class="des_title_close">
					<p v-cloak>{{language.comm.description}}</p>
					<img class="close_des_popup" src="../player/img/icon_home_detail_comment_close_default.png" @click="changeTab(0)" >
				</div>
				
				<div class="tv_title_des">
					<div class="tv_title_score">
						<p>{{currentTvTitle}}</p>
						<div v-if="currentTvScore"><span>9.2</span> 分</div>
					</div>
					<p class="tv_des">
						<!-- {{releaseDate}}·{{currentTvType}} -->
						<span v-for="(item,index) in gatherList[0]" :key="index">
							{{index==0?'':'·'}}
							{{item.name}}
						</span>
					</p>
				</div>
				
				<!-- 演员列表(待做...) -->
				<!-- <div class="performer_list">
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
					<div class="performer_item">
						<div class="performer_head_img"><img class="performer_img" src="../player/img/head_img.jpeg" ></div>
						<p class="performer_name">任嘉伦</p>
						<p class="performer_role">饰 陆绎</p>
					</div>
				</div> -->
				
				<div class="the_whole_des">
					<div class="whole_des_title" v-cloak>{{language.comm.abstract}}</div>
					<p class="whole_des_content">
						{{currentTvDesc}}
					</p>
				</div>
				
				<button class="close_des_btn" type="button" @click="changeTab(0)" v-cloak>{{language.comm.PutItAway}}</button>
			</div>
			
			<!-- 视频选集弹出框 部分 -->
			<div class="video_choose_popup" v-else-if="currentTab==2" >
				<div class="choose_popup_title_close">
					<div class="choose_popup_title">
						<p :class="{'choose_popup_title_active':currentChooseType==0}" @click="changeChooseType(0)" v-cloak>{{language.comm.ChooseSeries}}</p>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<p :class="{'choose_popup_title_active':currentChooseType==1}" @click="changeChooseType(1)" v-cloak>{{language.comm.SeriesDescription}}</p>
					</div>
					<img class="choose_popup_close" src="../player/img/icon_home_detail_comment_close_default.png" @click="changeTab(0)" >
				</div>
				
				<div class="video_choose" v-if="currentChooseType==0">
					<div class="tv_num_group">
						<div class="tv_num_group_item" :class="{'tv_num_group_item_active':currentTvNumGroupIdx==idx}" v-for="(item,idx) in splitTvTotalNumArr(currentTvUpdateNumList, currentGroupNum)" :key="idx" @click="changecurrentTvNumGroupIdx(idx)" >{{idx*currentGroupNum + 1}}-{{item.length + currentGroupNum*idx}}</div>
					</div>
					
					<div class="tv_num_list" v-for="(itemOut,idxOut) in splitTvTotalNumArr(currentTvUpdateNumList, currentGroupNum)" :key="idxOut" v-if="currentTvNumGroupIdx==idxOut" >
						<div class="tv_num_item_container" v-for="(itemInner,idxInner) in itemOut" :key="idxInner">
							<div class="tv_num_item" :class="{'tv_num_item_active':currentVideoIdx==(idxInner+idxOut*currentGroupNum)}" @click="chooseVideo(idxInner+idxOut*currentGroupNum)">
								<span>{{itemInner}}</span>
								<div class="yugao_label" v-if="isTrailer">预告</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video_per_desc" v-else >
					<div class="tv_num_group">
						<div class="tv_num_group_item" :class="{'tv_num_group_item_active':currentTvNumGroupIdx==idx}" v-for="(item,idx) in splitTvTotalNumArr(currentTvUpdateNumList, currentGroupNum)" :key="idx" @click="changecurrentTvNumGroupIdx(idx)" >{{idx*currentGroupNum + 1}}-{{item.length + currentGroupNum*idx}}</div>
					</div>
					
					<div class="tv_des_list" v-for="(itemOut,idxOut) in splitTvTotalNumArr(currentTvUpdateNumList, currentGroupNum)" :key="idxOut" v-if="currentTvNumGroupIdx==idxOut" >
						<div class="tv_des_item_container" v-for="(itemInner,idxInner) in currentTvUpdateList" :key="itemInner.dataId">
							<p class="tv_des_title">{{((idxInner+idxOut*currentGroupNum)>=9?'':'0')}}{{idxInner+1+idxOut*currentGroupNum}}{{language.comm.episode}} {{itemInner.title? itemInner.title : itemInner.subtitle}}</p>
							<p class="tv_des_item">
								{{itemInner.synopsis}}
							</p>
						</div>
					</div>
					
					<button class="close_des_btn" type="button" @click="changeTab(0)" >收起</button>
				</div>
			</div>
			
			<!-- 视频猜你喜欢弹出框 部分 -->
			<div class="video_guesslike_popup" v-else-if="currentTab==3" >
				<div class="guesslike_popup_container">
					<div class="guesslike_popup_title">
						<p>猜你喜欢</p>
						<img class="guesslike_popup_close" src="../player/img/icon_home_detail_comment_close_default.png" @click="changeTab(0)" >
					</div>
					
					<div class="guess_like_list">
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
						
						<div class="guess_like_item">
							<div class="video_poster">
								<img src="../player/img/testposter.png" >
								<p class="update_to_which">更新至 52 集</p>
							</div>
							<div class="video_other_des">
								<p class="other_des_title">锦衣之下</p>
								<p class="other_des_content">任嘉伦谭松韵谈情说案</p>
								<p class="other_des_hot">热度 7112</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 评论选项卡 部分 -->
			<div class="comment_tab_container" v-else-if="currentTab==4 && !net404" >
				<!-- 4.用户评论展示部分(H5端只展示) -->
				<div class="user_comment">
					<div class="comment_title_type">
						<div class="comment_title">
							<div class="under_line_comment" :class="{'under_line_comment_en':languageType=='en_US'}"></div>
							<img class="comment_title_icon" src="../player/img/icon_home_detail_comment.png" >
							<p v-cloak>{{language.comm.comment}}</p>
						</div>
						<!-- <div class="comment_type">
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==0}" @click="changeCommentType(0)">最热</div>
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==1}" @click="changeCommentType(1)">最新</div>
							<div class="comment_type_item" :class="{'comment_type_item_active':currentCommentType==2}" @click="changeCommentType(2)">最早</div>
						</div> -->
					</div>
					
					<div class="user_comment_list" v-if="commentListData">
						
						<div class="user_comment_item" v-for="(item,index) in commentListData" :key="index">
							<div class="user_head_img"><img class="user_img" :src="item.avatar? (imgBaseUrl + item.avatar) : '../player/img/default.png'" ></div>
							<div class="user_comment_des">
								<div class="user_name_time">
									<div class="user_name">{{item.nickname}}</div>
									<div class="user_time">{{(item.addTime) | getCommentTime}}</div>
								</div>
								<div class="user_comment_container">
									<p class="user_comment_content">
										{{item.content}}
									</p>
									<a href="javascript:;" style="color: #FF6F00;" v-cloak>{{language.comm.more}}</a>
								</div>
								<div class="under_line"></div>
							</div>
						</div>
						
					</div>
					<div class="no_comment_data" v-else >
						<img src="../player/img/404.png" >
						<a href="javascript:;" v-cloak>{{language.comm.NoCommentYet}}</a>
					</div>
				</div>
			</div>


			<!-- 网络错误提示 -->
			<div class="net_error" v-if="net404">
				<img src="../player/img/404.png" >
				<p>网络超时，请稍后重试</p>
				<div class="refresh_btn" @click="refreshPage">点击重试</div>
			</div>
		</div>
		
		<!-- js -->
		<script src="../player/js/jquery.min.js"></script>
		<script>
			var groupId = $('#body_diy').attr("data-groupId");
			var dramaId = $('#body_diy').attr("data-dataId");
			var langInfo = $('#body_diy').attr("data-language");
		</script>
		<script src="../player/js/time.js"></script>
		<script src="../player/js/vue.min.js"></script>
		<!-- 阿里云播放器 -->
		<script charset="utf-8" type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.8/aliplayer-min.js"></script>
		<!-- 公共方法 -->
		<!-- <script src="../player/js/configuration.js"></script> -->
		<!-- vue根实例 -->
		<script src="../player/js/tvplay_details.js"></script>
	</body>
</html>
