@charset "utf-8";

/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "PingFang";
}

body{
	min-height: 100vh;
	padding-top: 1rem;
	background-color: transparent!important;
}

body li {
	list-style-type: none;
}
body a {
	text-decoration: none;
}

img {
	border: 0px;
	max-width: 100%;
}

a:focus {
	outline: none;
}
a {
	blr: expression(this.onFocus=this.blur());
}

/**链接a在获得焦点的同时失去焦点。如果用的是图片链接之类的，不会显示周边的**/
/*****main*****/
.neterror {
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.neterror img{
	width: 6rem;
	height: auto;
}

.detail_neor{
	text-align: center;
	color: #999999;
	font-size: 0.373rem;
}

.detail_neor_btn_container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.666rem;
}
.detail_neor_btn{
	text-align: center;
	color: #ffffff;
	font-size: 0.373rem;
	background-color: #FF6F00;
	width: 2.293rem;
	height: 0.773rem;
	line-height: 0.773rem;
	border-radius: 0.4rem;
}